
.hero {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 48px;
    font-weight: 600;
    margin: 20px;
    color: white;
    font-family: 'Poppins';
  }
  .title > h1{
      height: 48px;
      font-size: 32px;
      margin: 0;
      line-height: 1;
  }
  .Image {
    height: 212px;
    width: 212px;
  }