.navbar {
    background-color: var(--color-primary);
    height: 74px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}


.logoDiv{
    display: flex;
    margin: 14px;
  }

  